@model QuickSale.Models.ViewModels.CustomerCategoryItemViewModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label"></label>
                <input asp-for="Customer.CustomerName" class="form-control" />
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerEmail" class="control-label"></label>
                <input asp-for="Customer.CustomerEmail" class="form-control" />
                <span asp-validation-for="Customer.CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CusomerTelephoneNumber" class="control-label"></label>
                <input asp-for="Customer.CusomerTelephoneNumber" class="form-control" />
                <span asp-validation-for="Customer.CusomerTelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<table class="table">
 
    <tbody>
        @foreach (var Categoryitem in Model.CategoryItemViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Categoryitem.Category.CategoryName)
                </td>
            </tr>
            <tr>
                <td>

                   <table>
                       <tr>
                           @foreach ( var item in Categoryitem.Items)
                           {
                           <td style="padding:10px">
                               @Html.DisplayFor(modelItem => item.ItemName)
                           </td>
                           }
                          
                       </tr>
                   </table>
                </td>
               
            </tr>

        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
